.filter {
    position: relative;
}

.filter::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}

.defs-only {
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
}

.filter--inkwell:hover {
    -webkit-filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
    filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
}

/* .filter--amaro:hover::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-color: rgba(254, 247, 217, 0.5);
    mix-blend-mode: soft-light;
}

.filter--amaro:hover {
    -webkit-filter: brightness(1.4) contrast(1.12);
} */

.filter--amaro:hover img {
    -webkit-filter: url(../assets/filter-yellow.svg#duotone);
    filter: url("../assets/filter-yellow.svg#duotone");
}
