/* GENERAL STUFF */

.filter {
    position: relative;
}

.filter::before, .filter::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}

.defs-only {
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
}

/* INKWELL */
.filter--inkwell {
    -webkit-filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
    filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
}

/* AMARO */

.filter--amaro img {
    -webkit-filter: url(../assets/filters.svg#amaro);
    filter: url("../assets/filters.svg#amaro");
}

.filter--amaro::before {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 102, 0.3) 65%, rgba(0, 0, 0, 0.1));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 102, 0.3) 65%, rgba(0, 0, 0, 0.1));
    mix-blend-mode: overlay;
    opacity: 0.7;
}

.filter--amaro::after {
    background-image: -webkit-radial-gradient(circle, transparent 60%, rgba(51, 0, 102, 0.8));
    background-image: radial-gradient(circle, transparent 60%, rgba(51, 0, 102, 0.8));
    mix-blend-mode: color-burn;
    opacity: 0.8;
}

.filter--amaro {
    -webkit-filter: brightness(1) contrast(1.2);
    filter: brightness(1) contrast(1.2);
}

/* WALDEN */

.filter--walden {
    -webkit-filter: brightness(1.2) contrast(1.4);
    filter: brightness(1.2) contrast(1.4);
}

.filter--walden::before {
    background: #002b54;
    mix-blend-mode: lighten;
    opacity: 0.8;
}

.filter--walden::after {
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(0, 53, 102, 0.3));
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(0, 53, 102, 0.3));
    mix-blend-mode: overlay;
    opacity: 0.6;
}


/* HUDSON */

.filter--hudson {
    -webkit-filter: brightness(1.4) contrast (0.8);
    filter: brightness(1.4) contrast (0.8);
}

.filter--hudson img {
    -webkit-filter: url(../assets/filters.svg#hudson);
    filter: url("../assets/filters.svg#hudson");
}

.filter--hudson::before {
    background: -webkit-radial-gradient(circle, rgb(73, 94, 148) 50%, rgba(72, 0, 3, 0.6));
    background: radial-gradient(circle, rgb(73, 94, 148) 50%, rgba(72, 0, 3, 0.6));
    mix-blend-mode: overlay;
    opacity: 0.6;
}

.filter--hudson::after {
    background: -webkit-linear-gradient(bottom, rgba(60, 5, 5, 0.8), rgba(58, 73, 119, 0.7));
    background: linear-gradient(to top, rgba(60, 5, 5, 0.8), rgba(58, 73, 119, 0.7));
    mix-blend-mode: screen;
    opacity: 0.4;
}

/* 1977 */

.filter--1977 {
    -webkit-filter: brightness(1.3) contrast(1.1) saturate(1.4);
    filter: brightness(1.3) contrast(1.1) saturate(1.4);
}

.filter--1977::before {
    background: rgba(103, 57, 76, 1);
    mix-blend-mode: screen;
}

.filter--1977::after {
    background: -webkit-linear-gradient(bottom, rgb(76, 55, 52), transparent);
    background: linear-gradient(to top, rgb(76, 55, 52), transparent);
    mix-blend-mode: overlay;
    opacity: 0.75;
}

/* EARLYBIRD */

.filter--earlybird {
    -webkit-filter: brightness(1.1) contrast(0.9) sepia(0.2);
    filter: brightness(1.1) contrast(0.9) sepia(0.2);
}

.filter--earlybird::before {
    background: -webkit-radial-gradient(circle, rgb(255, 231, 187) 30%, rgb(57, 5, 5) 85%, rgb(35, 8, 8) 100%);
    background: radial-gradient(circle, rgb(255, 231, 187) 30%, rgb(57, 5, 5) 85%, rgb(35, 8, 8) 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.filter--earlybird::after {
    background: rgb(59, 32, 86);
    mix-blend-mode: soft-light;
    opacity: 0.3;
}

/* TOASTER */

.filter--toaster {
    -webkit-filter: contrast(1.5) brightness(0.9) saturate(120%);
    filter: contrast(1.5) brightness(0.9) saturate(120%);
}

.filter--toaster::before {
    background: -webkit-radial-gradient(circle, #644f2f 30%, #381227 75%, #2d0a21 100%);
    background: radial-gradient(circle, #644f2f 30%, #381227 75%, #2d0a21 100%);
    mix-blend-mode: screen;
    opacity: 0.9;
}

.filter--toaster::after {
    background: -webkit-radial-gradient(center, #644f2f 30%, rgb(57, 5, 5) 85%, rgb(35, 8, 8) 100%);
    background: radial-gradient(center, #644f2f 30%, rgb(57, 5, 5) 85%, rgb(35, 8, 8) 100%);
    mix-blend-mode: lighten;
    opacity: 0.5;
}

/* MAYFAIR */

.filter--mayfair {
    -webkit-filter: brightness(1.2) contrast(1.1) saturate(110%);
    filter: brightness(1.2) contrast(1.1) saturate(110%);
}

.filter--mayfair::before {
    background: -webkit-radial-gradient(circle, rgba(247, 222, 186, 0.7), rgba(130, 54, 100, 0.5), rgb(11, 10, 17) 80%);
    background: radial-gradient(circle, rgba(247, 222, 186, 0.7), rgba(130, 54, 100, 0.5), rgb(11, 10, 17) 80%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.filter--mayfair::after {
    background: #460B2A;
    mix-blend-mode: overlay;
    opacity: 0.1;
}

/* SIERRA */

.filter--sierra {
    filter: brightness(0.9) contrast(0.9) saturate(90%);
}

.filter--sierra::before {
    background: radial-gradient(circle, rgba(246, 219, 164, 0.7), #221451 80%);
    mix-blend-mode: soft-light;
    opacity: 0.6;
}

.filter--sierra::after {
    background: radial-gradient(circle, rgba(247, 183, 164, 0.8) 35%, rgba(229, 236, 181, 0.6), rgba(133, 125, 122, 0.5) 80%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

/* X PRO II */

.filter--xproii {
    -webkit-filter: brightness(1.1) saturate(130%) sepia(0.2);
    filter: brightness(1.1) saturate(130%) sepia(0.2);
}

.filter--xproii::before {
    background: radial-gradient(circle, transparent 35%, #11116F 90%);
    mix-blend-mode: multiply;
    opacity: 0.5;
}

.filter--xproii::after {
    background: -webkit-radial-gradient(circle, transparent 25%, #190033 95%);
    background: radial-gradient(circle, transparent 25%, #190033 95%);
    mix-blend-mode: color-burn;
    opacity: 0.7;
}

/* RISE */

.filter--rise {
    -webkit-filter: brightness(1.2) contrast(0.9) saturate(90%);
    filter: brightness(1.2) contrast(0.9) saturate(90%);
}

.filter--rise::before {
    background: -webkit-radial-gradient(circle, rgba(236, 205, 169, 0.2) 55%, #321E07 100%);
    background: radial-gradient(circle, rgba(236, 205, 169, 0.2) 55%, #321E07 100%);
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.filter--rise::after {
    /* background: -webkit-radial-gradient(circle, rgba(246, 157, 60, 0.8), transparent 100%); */
    background: radial-gradient(circle, rgba(232, 197, 152, 0.8), transparent 100%);
    mix-blend-mode: overlay;
    opacity: 0.6;
}

